{
  "openapi": "3.0.1",
  "info": {
    "title": "Blue API reference",
    "description": "Alphaus provides an API for interacting with its services. Blue API is a RESTful API that can be accessed by an HTTP client such as `curl`, or any HTTP library which is part of most modern programming languages. This API reference is autogenerated from [protocol buffers](https://developers.google.com/protocol-buffers) defined in this [repository](https://github.com/alphauslabs/blueapi), together with our supported [client libraries](https://alphauslabs.github.io/docs/blueapi/client-sdks/). See the official [documentation](https://alphauslabs.github.io/docs/blueapi/overview/) for more information.\n\nYou may encounter the following feature maturity indicators:\n- **(WORK-IN-PROGRESS)** - Development is ongoing, don't use yet;\n- **(BETA)** - New or experimental features, subject to changes; and\n- **(DEPRECATED)** - Outdated or replaced features.\n\nSome endpoints, especially those that return lists of resources, have streaming responses; newline-separated stream of “chunks”. Each chunk is an envelope that can contain either a response message or an error. Only the last chunk will include an error, if any.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.alphaus.cloud/m/blue"
    }
  ],
  "tags": [
    {
      "name": "Organization",
      "description": "(BETA) Organization API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/org/"
      }
    },
    {
      "name": "Iam",
      "description": "(BETA) IAM API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/iam/"
      }
    },
    {
      "name": "Admin",
      "description": "Admin API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/admin/"
      }
    },
    {
      "name": "Cost",
      "description": "Cost API. Base URL: https://api.alphaus.cloud/m/blue/cost",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/cost/"
      }
    },
    {
      "name": "Billing",
      "description": "(BETA) Billing API. Base URL: https://api.alphaus.cloud/m/blue/billing",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/billing/"
      }
    },
    {
      "name": "Operations",
      "description": "(BETA) Long operations API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/operations/"
      }
    },
    {
      "name": "Cover",
      "description": "(ALPHA) Cover API. Base URL: https://api.alphaus.cloud/m/blue/cover",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/cover/"
      }
    },
    {
      "name": "Preferences",
      "description": "(BETA) Preferences API. Base URL: https://api.alphaus.cloud/m/blue",
      "externalDocs": {
        "description": "Service definition",
        "url": "https://github.com/alphauslabs/blueapi/tree/main/preferences/"
      }
    }
  ],
  "paths": {
    "/admin/v1/acctgroups": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Lists all account groups.",
        "operationId": "Admin_ListAccountGroups",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Stream result of v1ListAccountGroupsResponse",
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/v1ListAccountGroupsResponse"
                    },
                    "error": {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/acctgroups/{id}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Gets an account group.",
        "operationId": "Admin_GetAccountGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetAccountGroupResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/auditlogs:export": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "WORK-IN-PROGRESS: Exports audit logs for login user's organization.",
        "operationId": "Admin_ExportAuditLogs",
        "requestBody": {
          "description": "Request message for the ExportAuditLogs rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1ExportAuditLogsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiAuditExport"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/admin/v1/aws/reports/proforma": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "WORK-IN-PROGRESS: Configure AWS Proforma Cost and Usage Report.",
        "operationId": "Admin_CreateProformaCur",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateProformaCurRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ProformaCur"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/admin/v1/aws/xacct/cwms": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "WORK-IN-PROGRESS: Gets a CloudFormation launch URL for enabling CloudWatch metrics streaming on a target account.",
        "operationId": "Admin_GetCloudWatchMetricsStreamTemplateUrl",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetCloudWatchMetricsStreamTemplateUrlResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "WORK-IN-PROGRESS: Starts validation of a CloudWatch Metrics streaming stack deployment.",
        "operationId": "Admin_CreateCloudWatchMetricsStream",
        "requestBody": {
          "description": "Request message for the Admin.CreateCloudWatchMetricsStream rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateCloudWatchMetricsStreamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1CloudWatchMetricsStream"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/admin/v1/aws/xacct/dca": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Gets a CloudFormation launch URL for enabling the default cross-account access to your account's cost information based on type. See comments on the type for more information on what each template does.",
        "operationId": "Admin_GetDefaultCostAccessTemplateUrl",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Optional. Valid values are `default`, `s3only`, and `apionly`. Defaults to `default` if empty.\n\n`default` - Template for setting up both CUR export and read-only access to cost information. If selected, you need to deploy this template to `us-east-1` region as CloudFormation only supports the `AWS::CUR::ReportDefinition` in that region at the moment. The target S3 bucket will also be created in that region. If you prefer your S3 bucket to be located in a different region, you can use the template from this API by setting the type to `s3only`. After your S3 bucket is ready, call this API again (type is `default`) and set the `CurS3BucketOption` parameter to `USE_EXISTING`, then set your bucket name and region accordingly. This is the default for Ripple, unless specified otherwise.\n\n`apionly` - Template for setting up ready-only access to cost information. Handy if you already have exported your CUR to Alphaus through other means (i.e. manual setup). This template is the same as the `default` type but without the CUR export definitions. Although not required, we recommend you to deploy this template to allow us to query your cost-related information such as Reserved Instances, Saving Plans, etc. through the AWS API. At the moment, we only rely on CUR data which is a best-effort basis and sometimes not accurate. This is the default for Wave(Pro), unless specified otherwise.\n\n`s3only` - A helper template for creating an S3 bucket to be used for CUR export.\n\nAll templates are publicly available from the reponse link (`templateUrl`) if you want to audit the included permissions.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetDefaultCostAccessTemplateUrlResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Starts validation of a default cross-account access stack deployment. If successful, the IAM role created from the CloudFormation stack will be registered to the target.",
        "operationId": "Admin_CreateDefaultCostAccess",
        "requestBody": {
          "description": "Request message for the Admin.CreateDefaultCostAccess rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateDefaultCostAccessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1DefaultCostAccess"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/admin/v1/aws/xacct/dca/all:read": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Lists the default cross-account access role(s) attached to accounts under caller.",
        "operationId": "Admin_ListDefaultCostAccess",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Stream result of v1DefaultCostAccess",
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/v1DefaultCostAccess"
                    },
                    "error": {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/aws/xacct/dca/{target}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Gets the current default cross-account role attached to the input target.",
        "operationId": "Admin_GetDefaultCostAccess",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "description": "Required. The target AWS account to query.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1DefaultCostAccess"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Starts an update to an existing default cross-account access CloudFormation stack for template changes, if any. Only call this API if the status of your default cross-account access is 'outdated'.",
        "operationId": "Admin_UpdateDefaultCostAccess",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "description": "Required. The target AWS account to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/protosOperation"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Deletes the current default cross-account access role attached to this target account. This does not delete the CloudFormation deployment in your account.",
        "operationId": "Admin_DeleteDefaultCostAccess",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "description": "Required. The target AWS account to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/notification/channels": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Lists all notification channels for login user's organization or group.",
        "operationId": "Admin_ListNotificationChannels",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListNotificationChannelsResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "WORK-IN-PROGRESS: Creates notification settings for login user's organization or group.",
        "operationId": "Admin_CreateNotificationChannel",
        "requestBody": {
          "description": "Request message for the Admin.CreateNotificationChannel rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateNotificationChannelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiNotificationChannel"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/admin/v1/notification/channels/{id}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Gets notification channel for login user's organization or group.",
        "operationId": "Admin_GetNotificationChannel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldMask",
            "in": "query",
            "description": "Optional.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiNotificationChannel"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "WORK-IN-PROGRESS: Updates notification settings for login user's organization or group.",
        "operationId": "Admin_UpdateNotificationChannel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. ID of the notification channel to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Required. Name of the notification channel."
                  },
                  "type": {
                    "type": "string",
                    "description": "Required. Valid values: `email`, `slack`, `msteams`."
                  },
                  "email": {
                    "$ref": "#/components/schemas/apiEmailChannel"
                  },
                  "slack": {
                    "$ref": "#/components/schemas/apiSlackChannel"
                  },
                  "msteams": {
                    "$ref": "#/components/schemas/apiMSTeamsChannel"
                  },
                  "product": {
                    "type": "string",
                    "description": "Optional. For Octo use only: `octo`."
                  }
                },
                "description": "Request message for the Admin.UpdateNotificationChannel rpc."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiNotificationChannel"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Deletes notification settings for login user's organization or group.",
        "operationId": "Admin_DeleteNotificationChannel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. ID of the notification channel to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/notification/default": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Creates a default notification channel of type email based on the caller's primary email address.",
        "operationId": "Admin_CreateDefaultNotificationChannel",
        "requestBody": {
          "description": "Request message for the Admin.CreateDefaultNotificationChannel rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateDefaultNotificationChannelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiNotificationChannel"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/admin/v1/notification/settings": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get notification settings for login user's organization or group.",
        "operationId": "Admin_GetNotificationSettings",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiNotificationSettings"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Creates or updates notification settings for login user's organization or group.",
        "operationId": "Admin_SaveNotificationSettings",
        "requestBody": {
          "description": "Request message for the Admin.SaveNotificationSettings rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1SaveNotificationSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiNotificationSettings"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/admin/v1/notifications": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "WORK-IN-PROGRESS: List all notification for login user's organization.",
        "operationId": "Admin_ListNotifications",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListNotificationsResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "WORK-IN-PROGRESS: Creates notification for login user's organization.",
        "operationId": "Admin_CreateNotification",
        "requestBody": {
          "description": "Request message for the Admin.CreateNotificationTypeChannels rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateNotificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/blueapiapiNotification"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/admin/v1/notifications/{id}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "WORK-IN-PROGRESS: Get notifications for login user's organization.",
        "operationId": "Admin_GetNotification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notificationType",
            "in": "query",
            "description": "Required\nValid values: \n`InvoiceCalculationStarted`, \n`InvoiceCalculationFinished`, \n`CurUpdatedAfterInvoice`.\n`AccountBudgetAlert`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/blueapiapiNotification"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "WORK-IN-PROGRESS: Updates notification for login user's organization.",
        "operationId": "Admin_UpdateNotification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channels": {
                    "title": "Required",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "enabled": {
                    "title": "Required",
                    "type": "boolean"
                  },
                  "notificationType": {
                    "type": "string",
                    "description": "Required\nValid values: \n`InvoiceCalculationStarted`, \n`InvoiceCalculationFinished`, \n`CurUpdatedAfterInvoice`.\n`AccountBudgetAlert`."
                  },
                  "account": {
                    "$ref": "#/components/schemas/adminv1NotificationAccount"
                  }
                },
                "description": "Request message for the Admin.UpdateNotificationTypeChannels rpc."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/blueapiapiNotification"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "WORK-IN-PROGRESS: Deletes notification for login user's organization.",
        "operationId": "Admin_DeleteNotification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notificationType",
            "in": "query",
            "description": "Required\nValid values: \n`InvoiceCalculationStarted`, \n`InvoiceCalculationFinished`, \n`CurUpdatedAfterInvoice`.\n`AccountBudgetAlert`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/iam/v1/apiclients": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "Lists all API clients belonging to the caller.",
        "operationId": "Iam_ListApiClients",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Stream result of apiApiClient",
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/apiApiClient"
                    },
                    "error": {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Iam"
        ],
        "summary": "Creates an API client for the caller.",
        "operationId": "Iam_CreateApiClient",
        "requestBody": {
          "description": "Request message for the Iam.CreateApiClient rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateApiClientRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiApiClient"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/iam/v1/apiclients/{id}": {
      "delete": {
        "tags": [
          "Iam"
        ],
        "summary": "Deletes an API client belonging to the caller.",
        "operationId": "Iam_DeleteApiClient",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. The client id to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/iam/v1/grouprootusers": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Retrieves all the existing group root users asscoiated with the organization.",
        "operationId": "Iam_ListGroupRootUsers",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Stream result of apiGroupRootUser",
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/apiGroupRootUser"
                    },
                    "error": {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Creates a new root user for a billing group or access group.",
        "operationId": "Iam_CreateGroupRootUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateGroupRootUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiGroupRootUser"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/iam/v1/grouprootusers/{id}": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Retrieves a group root user.",
        "operationId": "Iam_GetGroupRootUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiGroupRootUser"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Deletes an existing group root user.",
        "operationId": "Iam_DeleteGroupRootUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/iam/v1/grouprootusers/{id}/features": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Retrieves the features available to a user on an Alphaus product.",
        "description": "For a list of valid feature flags, see our documentation at https://labs.alphaus.cloud/docs/blueapi/apis/iam/.",
        "operationId": "Iam_GetFeatureFlags",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiFeatureFlags"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Updates the features available to a user on an Alphaus product.",
        "description": "For a list of valid feature flags, see our documentation at https://labs.alphaus.cloud/docs/blueapi/apis/iam/.",
        "operationId": "Iam_UpdateFeatureFlags",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "featureFlags": {
                    "$ref": "#/components/schemas/apiFeatureFlags"
                  }
                },
                "description": "Request message for the Iam.UpdateFeatureFlags rpc."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiFeatureFlags"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/iam/v1/idps": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "Lists all SSO Identity Providers (IdP).",
        "operationId": "Iam_ListIdentityProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListIdentityProvidersResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Iam"
        ],
        "summary": "Registers an SSO Identity Provider (IdP).",
        "operationId": "Iam_CreateIdentityProvider",
        "requestBody": {
          "description": "Request message for the Iam.CreateIdentityProvider rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateIdentityProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/iam/v1/idps/{id}": {
      "delete": {
        "tags": [
          "Iam"
        ],
        "summary": "Deletes an SSO Identity Provider (IdP).",
        "operationId": "Iam_DeleteIdentityProvider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. The IdP id to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/iam/v1/ipfilters": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "Lists all IP filters. At the moment, this API is only available to root users.",
        "operationId": "Iam_ListIpFilters",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Stream result of v1IpFilter",
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/v1IpFilter"
                    },
                    "error": {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Iam"
        ],
        "summary": "Creates an IP filter item for IP blacklisting or whitelisting. At the moment, this API is only available to root users.",
        "operationId": "Iam_CreateIpFilter",
        "requestBody": {
          "description": "Request message for the Iam.CreateIpFilter rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateIpFilterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1IpFilter"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/iam/v1/ipfilters/{id}": {
      "delete": {
        "tags": [
          "Iam"
        ],
        "summary": "Deletes an IP filter item. At the moment, this API is only available to root users.",
        "operationId": "Iam_DeleteIpFilter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The IP filter id to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/iam/v1/mfausers": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: List MFA users info for login user's organization based on status.",
        "operationId": "Iam_GetMFAUsers",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Optional. If non empty: list users by status. Otherwise will list all MFA users.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1MFAUsersInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/iam/v1/partners/{id}/token": {
      "post": {
        "tags": [
          "Iam"
        ],
        "summary": "BETA: Creates a partner token for custom integrations. Available only to Ripple and Cover users.",
        "operationId": "Iam_CreatePartnerToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. Partner id or audience for the token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request message for the Iam.CreatePartnerToken rpc."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1PartnerToken"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/iam/v1/partners/{id}/token:refresh": {
      "post": {
        "tags": [
          "Iam"
        ],
        "summary": "BETA: Refreshes an expired partner token. Only partners are expected to call this API.",
        "operationId": "Iam_RefreshPartnerToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. Partner id or audience for the token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Required. The previous (old) token to be refreshed."
                  }
                },
                "description": "Request message for the Iam.RefreshPartnerToken rpc."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1PartnerToken"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/iam/v1/password:reset": {
      "post": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Validate reset password link and proceed to update password",
        "operationId": "Iam_ValidateResetPasswordLinkAndChangePassword",
        "requestBody": {
          "description": "Request for message Iam.ValidateVerificationCode rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1ValidateResetPasswordLinkAndChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ValidateResetPasswordLinkAndChangePasswordResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/iam/v1/permissions": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Lists all permissions based on the input's scope. For reference, supported permissions can be found on [https://github.com/mobingi/rbac-permissions].",
        "operationId": "Iam_ListPermissions",
        "parameters": [
          {
            "name": "subUser",
            "in": "query",
            "description": "Optional. The subuser to query. If empty (default), query all available permissions. If set to a valid subuser, query that subuser's permissions, if allowed. You can also set this field to `me` to query your own permissions.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListPermissionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/iam/v1/roles": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Lists all available roles.",
        "operationId": "Iam_ListRoles",
        "parameters": [
          {
            "name": "namespace",
            "in": "query",
            "description": "Optional. If not set, all roles will be returned.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListRolesResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Creates a role. If your `permissions` list contains an `Admin` entry, all other entries will be discarded except `Admin`. Roles are root user-level. That means all roles created by the root user, or any subuser that has permissions to create roles, are available to all subusers.",
        "operationId": "Iam_CreateRole",
        "requestBody": {
          "description": "Request message for the Iam.CreateRole rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiRole"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/iam/v1/roles/{namespace}/{name}": {
      "put": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Updates a role. If role name is different, rename mapped role name.",
        "operationId": "Iam_UpdateRole",
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Required. The new namespace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Required. The role name to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newName": {
                    "type": "string",
                    "description": "Optional. If set, update the current name to this."
                  },
                  "permissions": {
                    "type": "array",
                    "description": "Required. The list of permissions to attach to this role.",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "description": "Request message for the Iam.UpdateRole rpc."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiRole"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Deletes a role. Deleting a role will also remove all mappings.",
        "operationId": "Iam_DeleteRole",
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "description": "Required. The parent namespace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Required. The role name to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/iam/v1/userroles": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Lists roles attached to the caller or the input.",
        "operationId": "Iam_ListUserRoleMappings",
        "parameters": [
          {
            "name": "subUser",
            "in": "query",
            "description": "Optional. The subuser to query. Defaults to caller if not set.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListUserRoleMappingsResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Updates user-to-role mappings. You can only map (or attach) up to 5 roles to a user per namespace. There is no limit for filtering rules per user.",
        "operationId": "Iam_UpdateUserRoleMapping",
        "requestBody": {
          "description": "Request message for the Iam.UpdateUserRoleMapping rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1UpdateUserRoleMappingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1UpdateUserRoleMappingResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "post": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Maps roles to a subuser. You can only map (or attach) up to 5 roles to a user per namespace. There is no limit for filtering rules per user.",
        "operationId": "Iam_CreateUserRoleMapping",
        "requestBody": {
          "description": "Request message for the Iam.CreateUserRoleMapping rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateUserRoleMappingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1CreateUserRoleMappingResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/iam/v1/users": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "Lists all subusers.",
        "operationId": "Iam_ListUsers",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Stream result of apiUser",
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/apiUser"
                    },
                    "error": {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Iam"
        ],
        "summary": "Creates a subuser.",
        "operationId": "Iam_CreateUser",
        "requestBody": {
          "description": "Request message for the Iam.CreateUser rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiUser"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/iam/v1/users/{id}": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "Gets subuser information. This call includes all of the subuser metadata. See\n[https://alphauslabs.github.io/blueapi/] for the list of supported attributes.\nIf the `{name}` parameter is `me` or `-`, returns the caller information, which\nis equivalent to `WhoAmI()` or `GET:/iam/v*/whoami`.",
        "operationId": "Iam_GetUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiUser"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Iam"
        ],
        "summary": "Deletes a subuser.",
        "operationId": "Iam_DeleteUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. The subuser name to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/iam/v1/whoami": {
      "get": {
        "tags": [
          "Iam"
        ],
        "summary": "Gets user information about the caller. This call includes all of the user metadata.\nSee [https://alphauslabs.github.io/blueapi/] for the list of supported attributes.",
        "operationId": "Iam_WhoAmI",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiUser"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/iam/v1/{user}/password:verify": {
      "post": {
        "tags": [
          "Iam"
        ],
        "summary": "WORK-IN-PROGRESS: Verify User Input For Reset Password",
        "operationId": "Iam_VerifyUserForResetPassword",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1VerifyUserForResetPasswordResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/ops/v1": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Lists long-running operations.",
        "operationId": "Operations_ListOperations",
        "parameters": [
          {
            "name": "parent",
            "in": "query",
            "description": "Optional. The name of the operation's parent resource. Not used at the moment.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asOf",
            "in": "query",
            "description": "Optional. List operations on and after this date. Format is yyyymmdd. For example,\nif you want to list all operations starting from June 01, 2021, set to `20210601`.\nIf not set, defaults to the first day of the current UTC month.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDone",
            "in": "query",
            "description": "Optional. If true, include all operations that are marked as done. Exclude by\ndefault.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Stream result of protosOperation",
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/protosOperation"
                    },
                    "error": {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/ops/v1/{name}": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Gets the latest state of a long-running operation. You can use this method to\npoll the operation result at intervals.",
        "operationId": "Operations_GetOperation",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the operation resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/protosOperation"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Operations"
        ],
        "summary": "Deletes a long-running operation. This method indicates that the client is no\nlonger interested in the operation result. It does not cancel the operation.",
        "operationId": "Operations_DeleteOperation",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the operation resource to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/ops/v1/{name}:cancel": {
      "post": {
        "tags": [
          "Operations"
        ],
        "summary": "Starts asynchronous cancellation on a long-running operation. The server makes\na best effort to cancel the operation, but success is not guaranteed. On successful\ncancellation, the operation is not deleted; instead, it becomes an operation with\na value of [google.rpc.Status.code][google.rpc.Status.code] 1, corresponding\nto `Code.CANCELLED`.",
        "operationId": "Operations_CancelOperation",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the operation resource to be cancelled.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request message for the Operations.CancelOperation rpc."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/org/v1": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Gets information about the caller's organization.",
        "operationId": "Organization_GetOrg",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rippleOrg"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Creates the organization account.",
        "operationId": "Organization_CreateOrg",
        "requestBody": {
          "description": "Request message for the Organization.CreateOrg rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateOrgRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1CreateOrgResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Organization"
        ],
        "summary": "WORK-IN-PROGRESS: Deletes the organization.",
        "operationId": "Organization_DeleteOrg",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/org/v1/metadata": {
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "WORK-IN-PROGRESS: Updates organization metadata. See [https://alphauslabs.github.io/blueapi/]\nfor the list of supported attributes.",
        "operationId": "Organization_UpdateMetadata",
        "requestBody": {
          "description": "Request message for the Organization.UpdateMetadata rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1UpdateMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/org/v1/passwd": {
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Updates the organization password.",
        "operationId": "Organization_UpdatePassword",
        "requestBody": {
          "description": "Request message for the Organization.UpdatePassword rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1UpdatePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/org/v1:sendVerification": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "WORK-IN-PROGRESS: Sends (or resends) the verification email. Only valid for unverified\norganizations. The verification key will be valid for a day.",
        "operationId": "Organization_SendVerification",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/org/v1:verify": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "WORK-IN-PROGRESS: Verifies an organization using the key received from the verification email.\nThe verification key is only valid for a day.",
        "operationId": "Organization_VerifyOrg",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/prefs/v1": {
      "get": {
        "tags": [
          "Preferences"
        ],
        "summary": "WORK-IN-PROGRESS: Gets current preferences.",
        "operationId": "Preferences_GetPreferences",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1Preference"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accessgroups": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Lists access group. Only available in Ripple.",
        "operationId": "Billing_ListAccessGroups",
        "parameters": [
          {
            "name": "fieldMask",
            "in": "query",
            "description": "Optional. Get only the value that set fieldMask.\n\nsee more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Stream result of apirippleAccessGroup",
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/apirippleAccessGroup"
                    },
                    "error": {
                      "$ref": "#/components/schemas/googlerpcStatus"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Registers the access group. Only available in Ripple.",
        "operationId": "Billing_CreateAccessGroup",
        "requestBody": {
          "description": "Request message for the CreateAccessGroup rpc.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateAccessGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apirippleAccessGroup"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/accessgroups/{accessGroupId}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "WORK-IN-PROGRESS: Gets an access group.",
        "operationId": "Billing_GetAccessGroup",
        "parameters": [
          {
            "name": "accessGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldMask",
            "in": "query",
            "description": "Optional. Get only the value that set fieldMask.\n\nsee more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetAccessGroupResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accessgroups/{id}": {
      "put": {
        "tags": [
          "Billing"
        ],
        "summary": "Updates the access group. Only available in Ripple.",
        "operationId": "Billing_UpdateAccessGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required. access group id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Optional. access group name. Set only the name to be changed.\n\nWe recommend the name length of 1~60 characters."
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional. access group description. Set only the description to be changed.\n\nWe recommend the description length of 0~150 characters."
                  },
                  "billingGroups": {
                    "type": "array",
                    "description": "Optional. Billing group to be included in the access group.\n\nYou can only include billing groups with the same calculation type and currency type.\nSet only the billingGroups to be changed.\nSpecify the billingInternalIds. For example: [`billingInternalId1`,`billingInternalId2`,`billingInternalId3`]",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "description": "Request message for the UpdateAccessGroup rpc."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apirippleAccessGroup"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Billing"
        ],
        "summary": "Deletes the access group. Only available in Ripple.",
        "operationId": "Billing_DeleteAccessGroup",
[...]
